body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.itemContainer {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.itemWrapper {
    display: flex;
    gap: 20px;
}

.leftWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 40px;
    max-height: 300px;
    overflow-y: auto;
}

.leftWrapper h4 {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.leftWrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.leftWrapper ul li {
    margin: 10px 0;
}

.leftWrapper ul li a {
    text-decoration: none;
    color: #1c398d;
    font-size: 1em;
}

.rightWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

.shoeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}

.shoeCard:hover {
    transform: scale(1.05);
}

.cardImg img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.cardText {
    width: 100%;
    text-align: center;
}

.shoeName {
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.shoePrice {
    font-size: 1em;
    color: #888;
    margin-bottom: 10px;
}

.rating {
    margin-bottom: 20px;
}

.rating span {
    font-size: 1em;
    color: #888;
}

.cardBtn {
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 20px;
    background-color: #1c398d;
    position: absolute;
    bottom: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cardBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #162d6d;
}