.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.cartContainer {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.cartWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.leftSection {
    flex: 1;
    padding: 20px;
}

.cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.freeShipping {
    color: #1c398d;
}

.cartItemContainer {
    margin-bottom: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.itemImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.itemDetails {
    flex: 1;
    margin-left: 15px;
}

.itemName {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.itemPrice, .itemQuantity {
    display: block;
    color: #666;
    margin-bottom: 5px;
}

.removeBtn {
    background-color: #ff4d4d;
}

.cartEmptyMessage {
    text-align: left;
}

.cartEmptyMessage p {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #1c398d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rightSection {
    flex: 1;
    padding: 20px;
}

.cartSummary {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summaryDetails {
    margin-bottom: 20px;
}

.summaryItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summaryItem.total {
    font-weight: bold;
    color: #1c398d;
}

.checkoutBtn {
    width: 100%;
    margin-bottom: 20px;
}

.additionalInfo {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
}
