body {
  min-height: 100vh;
  background-color: #f0f0f0;
}


.User {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.userContainer {
  max-width: 600px;
  height: 700px;
}

.userWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userCard {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease;
}

.userCard h2 {
  margin-top: 0;
}

.userCard input[type="text"], 
.userCard input[type="password"], 
.userCard input[type="email"], 
.userCard input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.userCard input[type="submit"] {
  background-color: #1c398d;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.userCard input[type="submit"]:hover {
  background-color: #1c398d;
}

.hidden {
  display: none;
}

#form-container {
  transition: height 0.3s ease;
}

#form-container.signup .userCard {
  height: 380px; /* Adjust height for the signup form */
}

#form-container .userCard {
  height: 320px; /* Adjust height as needed for the transition */
}
